<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Froo-Fit</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../styles.css" />
  </head>
  <body>
    <main id="content">
      <input type="button" id="action-btn" value="Retrieve users from the database" />
      <table id="table">
        <tbody></tbody>
      </table>
      <h1>💖 Froo-Fit 💖</h1>
      <button id="muscle-groups" class="button is-link">Leaderboards</button>
      <button id="register" class="button is-link">Register</button>
      <button id="store" class="button is-link">Store</button>
    </main>
    <footer class="pl-5">
      <!-- hardcoded atm, ideally we would do something like user.froocoins -->
      FrooCoins: 400
    </footer>

    <script src="../renderer.js"></script>
  </body>
  <script>
    var mysql = require("mysql");

    function el(selector) {
      return document.getElementById(selector);
    }

    el("action-btn").addEventListener(
      "click",
      function () {
        getUsers(function (rows) {
          let html = "";
          let footer = "";
          rows.forEach(function (row) {
            html += row.username + ": " + row.deadliftPR + "kg";
            html += "<br>";

            // hardcoded atm, in the future this should display the user information of the currently logged in person (i think that makes sense?)
            footer = row.username + "  |  Froocoins: " + row.froocoins;
            console.log(row);
          });
          document.querySelector("#table > tbody").innerHTML = html;

          document.querySelector('footer').innerHTML = footer;
        });
      },
      false
    );

    function getUsers(callback) {
      var mysql = require("mysql");

      // credentials to access the database
      var connection = mysql.createConnection({
        host: "localhost",
        user: "root",
        password: null,
        database: "froofit_db",
      });

      // connect to mysql
      connection.connect(function (err) {
        // in case of error
        if (err) {
          console.log(err.code);
          console.log(err.fatal);
        }
      });

      // get id, username and froocoins values from x users
      $query = "SELECT username, deadliftPR FROM users ORDER BY deadliftPR DESC";

      connection.query($query, function (err, rows, fields) {
        if (err) {
          console.log("An error ocurred performing the query.");
          console.log(err);
          return;
        }

        callback(rows);

        console.log("Query succesfully executed");
      });

      // connection must be closed after query
      connection.end(function () {
      });
    }
  </script>
</html>
